@using CRMWebForWorker.ApiInteraction.ApiResources
@inject ApiResources ApiResources;
@{
    var username = Context.Request.Cookies["userName"] ?? default;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/Layout.css"/>
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <a href="/Order/GetOrders">Рабочий стол</a>
            </li>
            <li>
                <a href="/Resource/GetGeneral">@ApiResources.Buttons.ElementAt(0).Text</a>
            </li>
            <li>
                <a href="/Project/GetProjects">@ApiResources.Buttons.ElementAt(1).Text</a>
            </li>
            <li>
                <a href="/Service/GetServices">@ApiResources.Buttons.ElementAt(2).Text</a>
            </li>
            <li>
                <a href="/Blog/GetBlogs">@ApiResources.Buttons.ElementAt(3).Text</a>
            </li>
            <li>
                <a href="/Resource/GetContacts">@ApiResources.Buttons.ElementAt(4).Text</a>
            </li>
        </ul>
    </div>
    
    <div class="personal-account">
        @if (username == default)
        {
            <a href="/Account/Login">Войти</a>
        }
        else
        {
            <a href="/Account/PersonalAccount">@username</a>
        }
    </div> 

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</body>
</html>
